<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd">
   <bean id ="tamgiac" class= "spring.tamgiac "></bean>
   <bean id ="msgHello" class= "spring.Hello">
   <property name="msgHello" value ="minh la "></property>
   </bean>
   <bean id="triangle" class="spring.triangle">
   <constructor-arg value ="Balance"/>
   <constructor-arg value ="20"/>
   </bean>
   
   <bean id="pointTriangle" class="spring.trianglepoint"> 
   <property name ="pointA" ref="point1"></property>
   <property name ="pointB" ref="point2"></property>
   <property name ="pointC" ref="point3"></property>
   </bean>
   
   <bean id="point1" class="spring.point">
   <property name ="x" value="10"></property>
   <property name ="y" value="0"></property>
   </bean>
   
   <bean id="point2" class="spring.point">
   <property name ="x" value="10"></property>
   <property name ="y" value="0"></property>
   </bean>
   
   <bean id="point3" class="spring.point">
   <property name ="x" value="10"></property>
   <property name ="y" value="0"></property>
   </bean>
   
   <bean id="dstg" class="spring.dstamgiac">
   		<property name="points"> 
   		<list>
   		<ref bean="point1"/>
   		<ref bean="point2"/>
   		<ref bean="point3"/>
   		</list>
   		</property>
   </bean>
</beans>